<main class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <h3 class="text-center">
        Child Transactions
        <ng-container *ngIf="parentTransaction.id">ID - {{ parentTransaction.id }}</ng-container>
      </h3>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <table class="table table-striped table-responsive" *ngIf="parentTransaction.id">
        <thead>
          <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Total Amount</th>
            <th>Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let txn of list">
            <td>{{ txn.id }}</td>
            <td>{{ parentTransaction.sender }}</td>
            <td>{{ parentTransaction.receiver }}</td>
            <td>{{ totalAmount }}</td>
            <td>{{ txn.paidAmount }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="!list.length">
          <tr>
            <td colspan="5">
              <p class="text-center">No transactions to show</p>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</main>

